@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<h1  style="text-align:center;">Merhaba <span style="text-transform: uppercase"> @ViewBag.dgr </span>Otomasyona Hoşgeldiniz  </h1>